@font-face
{
    font-family: linux;
    src: url(../fonts/osd_mono.ttf);
}

.startup-log
{
    --font: linux;
    --size: 1.5;
}

.intro
{
    --font: monospace;
}

.reboot
{
    --font: linux;
    font-weight: bold;
    text-align: center;
    --size: 2;
}

.poweroff
{
    --font: linux;
    font-weight: bold;
    text-align: center;
    --size: 2;
}

.command-click, .directory
{
    cursor: pointer;
}